In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy
import numpy as np
import os

### Busca os dados no arquivo csv

In [2]:
test_data = pd.read_csv('testfiles/test.csv')

In [3]:
train_data = pd.read_csv('testfiles/train.csv')

### Visualizando os dados

In [4]:
test_data.head()

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,...,NaN,NaN,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,...,0.0,320.0,D,H,H,C,B,A,NaN,A

In [5]:
train_data.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [6]:
test_data.shape

(4576, 47)

In [106]:
train_data.shape

(13730, 131)

In [8]:
train_data.describe()

,Unnamed: 0,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,Q032,Q033,Q034,Q035,Q036,Q037,Q038,Q039,Q040,Q041
count,13730.000000,13730.0,1.373000e+04,13730.000000,13730.000000,13202.000000,13730.000000,13730.000000,1.312100e+04,13121.000000,...,6354.000000,6354.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,2938.000000
mean,2288.173926,2016.0,3.088548e+06,30.736708,21.593809,0.116043,2.185652,1.048871,3.057946e+06,30.429159,...,4.530217,3.962858,4.645594,4.678441,3.341515,4.458995,3.724618,3.506409,4.442098,3.671545
std,1321.230607,0.0,9.890495e+05,9.862405,7.043654,0.365986,1.007285,0.258895,9.703020e+05,9.670030,...,1.027613,1.625356,0.920998,0.865039,1.711930,1.200172,1.689362,1.718858,1.181549,1.746444
min,0.000000,2016.0,1.100023e+06,11.000000,13.000000,0.000000,0.000000,0.000000,1.100023e+06,11.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1144.000000,2016.0,2.307650e+06,23.000000,17.000000,0.000000,1.000000,1.000000,2.306900e+06,23.000000,...,5.000000,3.000000,5.000000,5.000000,2.000000,5.000000,3.000000,2.000000,4.000000,3.000000
50%,2288.000000,2016.0,3.118601e+06,31.000000,19.000000,0.000000,3.000000,1.000000,3.106200e+06,31.000000,...,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,5.000000,5.000000
75%,3432.000000,2016.0,3.550308e+06,35.000000,23.000000,0.000000,3.000000,1.000000,3.549805e+06,35.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,4586.000000,2016.0,5.300108e+06,53.000000,67.000000,3.000000,5.000000,4.000000,5.300108e+06,53.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [9]:
train_data['TP_SEXO'] = np.where(train_data['TP_SEXO'] == 'F', 0, 1)

In [10]:
train_data.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,1,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,0,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,0,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,0,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,1,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [11]:
train_data['NU_NOTA_REDACAO'].isna().sum()

3597

In [12]:
len(train_data.NU_NOTA_MT)

13730

In [13]:
train_data.isnull().sum(axis = 0)

Unnamed: 0                 0
NU_INSCRICAO               0
NU_ANO                     0
CO_MUNICIPIO_RESIDENCIA    0
NO_MUNICIPIO_RESIDENCIA    0
                          ..
Q046                       0
Q047                       0
Q048                       0
Q049                       0
Q050                       0
Length: 167, dtype: int64

In [14]:
cols = ['NU_INSCRICAO','NU_ANO', 'NU_IDADE','CO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'TP_SEXO', 'TP_PRESENCA_CN',
        'TP_PRESENCA_CH', 'TP_PRESENCA_LC', 'TP_PRESENCA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'NU_NOTA_REDACAO', 'TP_ST_CONCLUSAO', ]

In [15]:
train_data[(train_data.NU_NOTA_MT.isna())][cols]

,NU_INSCRICAO,NU_ANO,NU_IDADE,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,TP_SEXO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,TP_ST_CONCLUSAO
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,21,2304400,23,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,3
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,25,3304557,33,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,1
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,28,1302603,13,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN,1
9,94f7e277f87cd58e10a45da4ad5dd168651cf3ef,2016,24,3152501,31,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN,4
13,8570b9be0b2b629d00743d0de77cd95a84a46fbc,2016,19,2304400,23,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13711,bc6ea97fcc031786198e58ca5485d2648a2145fb,2016,17,2703007,27,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,3
13713,e60cbd0026dae31e4f0580a909465c83355ea282,2016,25,1100205,11,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN,1
13715,99cfec493fefde4fcec60fd8c1e3eb1fe891fb31,2016,24,4108403,41,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,1
13716,00bb288d1b225bf07136b1d6e5a20a0fa7f7e2a9,2016,18,4209003,42,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN,1
13722,a78cd7c85a7ed2a29190ed3e40a8cf8dad2d7335,2016,25,3201209,32,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN,1

In [16]:
# Aqui podemos ver que todos que estiveram na prova tem notas
train_data[(train_data.TP_PRESENCA_CN==1) & (train_data.TP_PRESENCA_CH==1) & (train_data.TP_PRESENCA_LC==1) &
            (train_data.TP_PRESENCA_MT==1)][['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_MT']]

       NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC  NU_NOTA_MT
0           436.3       495.4       581.2       399.4
1           474.5       544.1       599.0       459.8
5           439.7       583.2       410.9       364.5
6           420.1       604.2       484.5       529.2
7           619.6       625.8       611.2       566.7
...           ...         ...         ...         ...
13725       438.2       419.7       394.5       403.2
13726       423.8       557.9       533.0       452.4
13727       460.5       528.9       569.3       398.0
13728       422.5       621.7       569.0       386.6
13729       488.7       575.3       565.9       428.9

[10097 rows x 4 columns]

In [17]:
# Aqui vemos que as notas nulas foram para aqueles que não comparaceram ou tiveram a prova cancelada
train_data[(train_data.NU_NOTA_CN.notnull()) & (train_data.TP_PRESENCA_CN == 2)][['TP_PRESENCA_CN','NU_NOTA_CN']]

Empty DataFrame
Columns: [TP_PRESENCA_CN, NU_NOTA_CN]
Index: []

In [18]:
train_data[(train_data.TP_PRESENCA_CN==2) | (train_data.TP_PRESENCA_CH==2) | (train_data.TP_PRESENCA_LC==2) |
            (train_data.TP_PRESENCA_MT==2) ][['TP_PRESENCA_CN','NU_NOTA_CN', 'TP_PRESENCA_CH','NU_NOTA_CH',
                                              'TP_PRESENCA_LC','NU_NOTA_LC', 'TP_PRESENCA_MT','NU_NOTA_MT']]

,TP_PRESENCA_CN,NU_NOTA_CN,TP_PRESENCA_CH,NU_NOTA_CH,TP_PRESENCA_LC,NU_NOTA_LC,TP_PRESENCA_MT,NU_NOTA_MT
429,2,NaN,2,NaN,1,0.0,1,0.0
545,1,565.5,1,533.4,2,NaN,2,NaN
914,2,NaN,2,NaN,0,NaN,0,NaN
1280,2,NaN,2,NaN,0,NaN,0,NaN
1304,1,488.9,1,548.9,2,NaN,2,NaN
1775,2,NaN,2,NaN,0,NaN,0,NaN
5124,2,NaN,2,NaN,1,398.2,1,389.6
6253,2,NaN,2,NaN,0,NaN,0,NaN
6656,1,425.4,1,578.3,2,NaN,2,NaN
7126,2,NaN,2,NaN,1,427.5,1,441.3
7320,1,518.8,1,510.9,2,NaN,2,NaN
7656,2,NaN,2,NaN,1,423.0,1,445.2
7690,1,576.7,1,659.7,2,NaN,2,NaN
12475,2,NaN,2,NaN,0,NaN,0,NaN

In [19]:
# Preenchendo notas com dados nulos com 0 pois são registros que não compareceram ou foram anulados
train_data[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT']] = train_data[['NU_NOTA_CN','NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT']].fillna(0)

In [20]:
train_data.NU_NOTA_REDACAO = train_data.NU_NOTA_REDACAO.fillna(0)

In [21]:
train_data.NU_NOTA_MT.isna().sum()

0

In [22]:
train_data[cols]

,NU_INSCRICAO,NU_ANO,NU_IDADE,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,TP_SEXO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,TP_ST_CONCLUSAO
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,24,4314902,43,1,1,1,1,1,436.3,495.4,581.2,399.4,520.0,1
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,17,2304707,23,0,1,1,1,1,474.5,544.1,599.0,459.8,580.0,2
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,21,2304400,23,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,25,3304557,33,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,28,1302603,13,1,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13725,aadf671ef8c1c6efa42e69432093ab83c17a52ac,2016,20,3502903,35,1,1,1,1,1,438.2,419.7,394.5,403.2,440.0,1
13726,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,2016,33,2613800,26,0,1,1,1,1,423.8,557.9,533.0,452.4,560.0,1
13727,5354503700ecf2388f68990435390b6e1ad454ee,2016,15,4322186,43,0,1,1,1,1,460.5,528.9,569.3,398.0,600.0,3
13728,c7a9e94a42bd76b7978f13c013a61702e36cc42c,2016,36,3303203,33,1,1,1,1,1,422.5,621.7,569.0,386.6,460.0,4
13729,0af8939c470a600b30bdaa80375ee0db848b0e35,2016,17,4100400,41,1,1,1,1,1,488.7,575.3,565.9,428.9,520.0,2

In [23]:
train_data[cols].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NU_INSCRICAO             13730 non-null  object
 1   NU_ANO                   13730 non-null  int64
 2   NU_IDADE                 13730 non-null  int64
 3   CO_MUNICIPIO_RESIDENCIA  13730 non-null  int64
 4   CO_UF_RESIDENCIA         13730 non-null  int64
 5   TP_SEXO                  13730 non-null  int32
 6   TP_PRESENCA_CN           13730 non-null  int64
 7   TP_PRESENCA_CH           13730 non-null  int64
 8   TP_PRESENCA_LC           13730 non-null  int64
 9   TP_PRESENCA_MT           13730 non-null  int64
 10  NU_NOTA_CN               13730 non-null  float64
 11  NU_NOTA_CH               13730 non-null  float64
 12  NU_NOTA_LC               13730 non-null  float64
 13  NU_NOTA_MT               13730 non-null  float64
 14  NU_NOTA_REDACAO          13730 non-null  float64
 15  TP_ST_CONCLUSAO          13730 non-null  int64
dtypes: float64(5), int32(1), int64(9), object(1)
memory usage: 1.6+ MB

In [24]:
train_data[(train_data.isna() == 'True')]

C:\Users\donat\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
def checkNulls():
    for (columnName, columnData) in train_data.iteritems():
        if(train_data[columnName].isna().sum() > 0): 
           print('Colunm Name : ', columnName)
           print(' null : ', train_data[columnName].isna().sum())

In [26]:
train_data[(train_data.TX_RESPOSTAS_CN.isna()) & (train_data.TP_PRESENCA_CN==1)][['TP_PRESENCA_CN','NU_NOTA_CN', 'TP_PRESENCA_CH','NU_NOTA_CH',
                                              'TP_PRESENCA_LC','NU_NOTA_LC', 'TP_PRESENCA_MT','NU_NOTA_MT']]

Empty DataFrame
Columns: [TP_PRESENCA_CN, NU_NOTA_CN, TP_PRESENCA_CH, NU_NOTA_CH, TP_PRESENCA_LC, NU_NOTA_LC, TP_PRESENCA_MT, NU_NOTA_MT]
Index: []

In [27]:
cols.append('CO_UF_NASCIMENTO')

In [28]:
train_data[train_data.CO_UF_NASCIMENTO.isna()][cols]

,NU_INSCRICAO,NU_ANO,NU_IDADE,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,TP_SEXO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,TP_ST_CONCLUSAO,CO_UF_NASCIMENTO
9,94f7e277f87cd58e10a45da4ad5dd168651cf3ef,2016,24,3152501,31,1,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4,NaN
33,3b096a7385fbcd24adb5e622db6ec33ad81b711c,2016,17,3304557,33,0,1,1,1,1,430.6,544.2,402.9,427.3,620.0,2,NaN
44,ce018e1ed8c91f329f952c59abec1059d15544fc,2016,16,4124053,41,1,1,1,1,1,593.9,549.4,603.1,539.7,480.0,3,NaN
49,45baf0018e09111593b980febba5122c6045203b,2016,19,2606002,26,1,1,1,1,1,366.7,424.2,450.4,345.7,380.0,2,NaN
91,473fac1a473fc1acbb11e9602f39b135a3c9d9aa,2016,18,2913606,29,1,1,1,1,1,462.8,524.6,498.6,418.9,520.0,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13644,7792bdd1d5e9c6476e6859e9839545fee7939bd4,2016,22,5103403,51,1,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1,NaN
13649,4cfe3d9d68c9916f65e86067feacc67f0af4ca13,2016,17,2304707,23,0,1,1,1,1,382.3,500.0,494.3,468.5,760.0,2,NaN
13704,f8fd234e2b5b90db7f37b31acda5be3654e3da13,2016,18,1506906,15,1,1,1,1,1,419.6,578.3,543.6,403.5,540.0,1,NaN
13718,6df66a7695e5cf77c2dcb805d31a0ee40fbac91b,2016,16,2307254,23,1,1,1,1,1,507.2,593.1,521.3,523.2,520.0,3,NaN
13726,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,2016,33,2613800,26,0,1,1,1,1,423.8,557.9,533.0,452.4,560.0,1,NaN

In [29]:
train_data[(train_data.CO_UF_NASCIMENTO == train_data.CO_UF_NASCIMENTO)]

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,1,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,0,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,0,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,0,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,1,0.0,...,NaN,A,A,A,A,A,A,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13724,4581,305161d5bd5ba3ab0059debf906e875a3184996c,2016,3300100,Angra dos Reis,33,RJ,23,1,2.0,...,5.0,B,A,A,A,D,A,A,A,D
13725,4582,aadf671ef8c1c6efa42e69432093ab83c17a52ac,2016,3502903,Araçoiaba da Serra,35,SP,20,1,0.0,...,NaN,A,A,A,A,A,A,A,A,A
13727,4584,5354503700ecf2388f68990435390b6e1ad454ee,2016,4322186,Tupanci do Sul,43,RS,15,0,0.0,...,NaN,A,A,A,A,C,A,A,A,A
13728,4585,c7a9e94a42bd76b7978f13c013a61702e36cc42c,2016,3303203,Nilópolis,33,RJ,36,1,1.0,...,5.0,A,A,A,A,D,A,A,A,D
13729,4586,0af8939c470a600b30bdaa80375ee0db848b0e35,2016,4100400,Almirante Tamandaré,41,PR,17,1,0.0,...,NaN,A,A,A,A,B,A,A,A,A

In [30]:
train_data.CO_UF_NASCIMENTO = train_data.CO_UF_NASCIMENTO.fillna(train_data.CO_UF_RESIDENCIA)

In [31]:
checkNulls()

Colunm Name :  TP_ESTADO_CIVIL
 null :  528
Colunm Name :  CO_MUNICIPIO_NASCIMENTO
 null :  609
Colunm Name :  NO_MUNICIPIO_NASCIMENTO
 null :  609
Colunm Name :  SG_UF_NASCIMENTO
 null :  609
Colunm Name :  TP_ENSINO
 null :  9448
Colunm Name :  CO_ESCOLA
 null :  9448
Colunm Name :  CO_MUNICIPIO_ESC
 null :  9448
Colunm Name :  NO_MUNICIPIO_ESC
 null :  9448
Colunm Name :  CO_UF_ESC
 null :  9448
Colunm Name :  SG_UF_ESC
 null :  9448
Colunm Name :  TP_DEPENDENCIA_ADM_ESC
 null :  9448
Colunm Name :  TP_LOCALIZACAO_ESC
 null :  9448
Colunm Name :  TP_SIT_FUNC_ESC
 null :  9448
Colunm Name :  NO_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  CO_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  SG_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  TX_RESPOSTAS_CN
 null :  3389
Colunm Name :  TX_RESPOSTAS_CH
 null :  3389
Colunm Name :  TX_RESPOSTAS_LC
 null :  3597
Colunm Name :  TX_RESPOSTAS_MT
 null :  3597
Colunm Name :  TX_GABARITO_CN
 null :  3389
Colunm Name :  TX_GABARITO_CH
 null :  3389
Colunm Name :  TX_GABARITO_LC
 null :  3597
Colunm Name :  TX_GABARITO_MT
 null :  3597
Colunm Name :  TP_STATUS_REDACAO
 null :  3597
Colunm Name :  NU_NOTA_COMP1
 null :  3597
Colunm Name :  NU_NOTA_COMP2
 null :  3597
Colunm Name :  NU_NOTA_COMP3
 null :  3597
Colunm Name :  NU_NOTA_COMP4
 null :  3597
Colunm Name :  NU_NOTA_COMP5
 null :  3597
Colunm Name :  Q027
 null :  7373
Colunm Name :  Q028
 null :  7376
Colunm Name :  Q029
 null :  7375
Colunm Name :  Q030
 null :  7375
Colunm Name :  Q031
 null :  7376
Colunm Name :  Q032
 null :  7376
Colunm Name :  Q033
 null :  7376
Colunm Name :  Q041
 null :  10792

In [32]:
train_data.CO_MUNICIPIO_NASCIMENTO = train_data.CO_MUNICIPIO_NASCIMENTO.fillna(train_data.CO_MUNICIPIO_RESIDENCIA)

In [33]:
train_data.NO_MUNICIPIO_NASCIMENTO = train_data.NO_MUNICIPIO_NASCIMENTO.fillna(train_data.NO_MUNICIPIO_RESIDENCIA)

In [34]:
train_data.SG_UF_NASCIMENTO = train_data.SG_UF_NASCIMENTO.fillna(train_data.SG_UF_RESIDENCIA)

In [35]:
train_data.TP_STATUS_REDACAO = train_data.TP_STATUS_REDACAO.fillna(4)

In [36]:
train_data[cols]

,NU_INSCRICAO,NU_ANO,NU_IDADE,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,TP_SEXO,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,TP_ST_CONCLUSAO,CO_UF_NASCIMENTO
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,24,4314902,43,1,1,1,1,1,436.3,495.4,581.2,399.4,520.0,1,43.0
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,17,2304707,23,0,1,1,1,1,474.5,544.1,599.0,459.8,580.0,2,23.0
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,21,2304400,23,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3,23.0
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,25,3304557,33,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1,33.0
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,28,1302603,13,1,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13725,aadf671ef8c1c6efa42e69432093ab83c17a52ac,2016,20,3502903,35,1,1,1,1,1,438.2,419.7,394.5,403.2,440.0,1,35.0
13726,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,2016,33,2613800,26,0,1,1,1,1,423.8,557.9,533.0,452.4,560.0,1,26.0
13727,5354503700ecf2388f68990435390b6e1ad454ee,2016,15,4322186,43,0,1,1,1,1,460.5,528.9,569.3,398.0,600.0,3,43.0
13728,c7a9e94a42bd76b7978f13c013a61702e36cc42c,2016,36,3303203,33,1,1,1,1,1,422.5,621.7,569.0,386.6,460.0,4,33.0
13729,0af8939c470a600b30bdaa80375ee0db848b0e35,2016,17,4100400,41,1,1,1,1,1,488.7,575.3,565.9,428.9,520.0,2,41.0

In [37]:
train_data[['CO_MUNICIPIO_NASCIMENTO', 'CO_MUNICIPIO_ESC', 'CO_UF_NASCIMENTO', 'CO_UF_ESC']]

       CO_MUNICIPIO_NASCIMENTO  CO_MUNICIPIO_ESC  CO_UF_NASCIMENTO  CO_UF_ESC
0                    4314902.0               NaN              43.0        NaN
1                    2304707.0         2304707.0              23.0       23.0
2                    2304400.0               NaN              23.0        NaN
3                    3304557.0               NaN              33.0        NaN
4                    1505304.0               NaN              15.0        NaN
...                        ...               ...               ...        ...
13725                3552205.0               NaN              35.0        NaN
13726                2613800.0               NaN              26.0        NaN
13727                4303202.0               NaN              43.0        NaN
13728                3304557.0               NaN              33.0        NaN
13729                4106902.0         4106902.0              41.0       41.0

[13730 rows x 4 columns]

In [38]:
train_data.CO_MUNICIPIO_ESC = train_data.CO_MUNICIPIO_ESC.fillna(train_data.CO_MUNICIPIO_NASCIMENTO)
train_data.CO_UF_ESC = train_data.CO_UF_ESC.fillna(train_data.CO_UF_NASCIMENTO)

In [39]:
train_data[['CO_MUNICIPIO_NASCIMENTO', 'CO_MUNICIPIO_ESC', 'CO_UF_NASCIMENTO', 'CO_UF_ESC']]

       CO_MUNICIPIO_NASCIMENTO  CO_MUNICIPIO_ESC  CO_UF_NASCIMENTO  CO_UF_ESC
0                    4314902.0         4314902.0              43.0       43.0
1                    2304707.0         2304707.0              23.0       23.0
2                    2304400.0         2304400.0              23.0       23.0
3                    3304557.0         3304557.0              33.0       33.0
4                    1505304.0         1505304.0              15.0       15.0
...                        ...               ...               ...        ...
13725                3552205.0         3552205.0              35.0       35.0
13726                2613800.0         2613800.0              26.0       26.0
13727                4303202.0         4303202.0              43.0       43.0
13728                3304557.0         3304557.0              33.0       33.0
13729                4106902.0         4106902.0              41.0       41.0

[13730 rows x 4 columns]

In [40]:
checkNulls()

Colunm Name :  TP_ESTADO_CIVIL
 null :  528
Colunm Name :  TP_ENSINO
 null :  9448
Colunm Name :  CO_ESCOLA
 null :  9448
Colunm Name :  NO_MUNICIPIO_ESC
 null :  9448
Colunm Name :  SG_UF_ESC
 null :  9448
Colunm Name :  TP_DEPENDENCIA_ADM_ESC
 null :  9448
Colunm Name :  TP_LOCALIZACAO_ESC
 null :  9448
Colunm Name :  TP_SIT_FUNC_ESC
 null :  9448
Colunm Name :  NO_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  CO_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  SG_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  TX_RESPOSTAS_CN
 null :  3389
Colunm Name :  TX_RESPOSTAS_CH
 null :  3389
Colunm Name :  TX_RESPOSTAS_LC
 null :  3597
Colunm Name :  TX_RESPOSTAS_MT
 null :  3597
Colunm Name :  TX_GABARITO_CN
 null :  3389
Colunm Name :  TX_GABARITO_CH
 null :  3389
Colunm Name :  TX_GABARITO_LC
 null :  3597
Colunm Name :  TX_GABARITO_MT
 null :  3597
Colunm Name :  NU_NOTA_COMP1
 null :  3597
Colunm Name :  NU_NOTA_COMP2
 null :  3597
Colunm Name :  NU_NOTA_COMP3
 null :  3597
Colunm Name :  NU_NOTA_COMP4
 null :  3597
Colunm Name :  NU_NOTA_COMP5
 null :  3597
Colunm Name :  Q027
 null :  7373
Colunm Name :  Q028
 null :  7376
Colunm Name :  Q029
 null :  7375
Colunm Name :  Q030
 null :  7375
Colunm Name :  Q031
 null :  7376
Colunm Name :  Q032
 null :  7376
Colunm Name :  Q033
 null :  7376
Colunm Name :  Q041
 null :  10792

In [41]:
train_data[(train_data.TP_ESTADO_CIVIL == 0)]

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,1,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,0,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,0,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,0,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,1,0.0,...,NaN,A,A,A,A,A,A,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13723,4580,33852615a84f6d2ac089f7fe9697ac513b21c1ed,2016,3306107,Valença,33,RJ,16,0,0.0,...,NaN,A,A,A,A,C,A,A,A,A
13725,4582,aadf671ef8c1c6efa42e69432093ab83c17a52ac,2016,3502903,Araçoiaba da Serra,35,SP,20,1,0.0,...,NaN,A,A,A,A,A,A,A,A,A
13726,4583,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,2016,2613800,São Vicente Ferrer,26,PE,33,0,0.0,...,NaN,A,A,B,B,A,A,A,A,A
13727,4584,5354503700ecf2388f68990435390b6e1ad454ee,2016,4322186,Tupanci do Sul,43,RS,15,0,0.0,...,NaN,A,A,A,A,C,A,A,A,A
13729,4586,0af8939c470a600b30bdaa80375ee0db848b0e35,2016,4100400,Almirante Tamandaré,41,PR,17,1,0.0,...,NaN,A,A,A,A,B,A,A,A,A

In [42]:
train_data.NU_NOTA_COMP1 = train_data.NU_NOTA_COMP1.fillna(0) 
train_data.NU_NOTA_COMP2 = train_data.NU_NOTA_COMP2.fillna(0) 
train_data.NU_NOTA_COMP3 = train_data.NU_NOTA_COMP3.fillna(0) 
train_data.NU_NOTA_COMP4 = train_data.NU_NOTA_COMP4.fillna(0) 
train_data.NU_NOTA_COMP5 = train_data.NU_NOTA_COMP5.fillna(0)

In [43]:
checkNulls()

Colunm Name :  TP_ESTADO_CIVIL
 null :  528
Colunm Name :  TP_ENSINO
 null :  9448
Colunm Name :  CO_ESCOLA
 null :  9448
Colunm Name :  NO_MUNICIPIO_ESC
 null :  9448
Colunm Name :  SG_UF_ESC
 null :  9448
Colunm Name :  TP_DEPENDENCIA_ADM_ESC
 null :  9448
Colunm Name :  TP_LOCALIZACAO_ESC
 null :  9448
Colunm Name :  TP_SIT_FUNC_ESC
 null :  9448
Colunm Name :  NO_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  CO_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  SG_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  TX_RESPOSTAS_CN
 null :  3389
Colunm Name :  TX_RESPOSTAS_CH
 null :  3389
Colunm Name :  TX_RESPOSTAS_LC
 null :  3597
Colunm Name :  TX_RESPOSTAS_MT
 null :  3597
Colunm Name :  TX_GABARITO_CN
 null :  3389
Colunm Name :  TX_GABARITO_CH
 null :  3389
Colunm Name :  TX_GABARITO_LC
 null :  3597
Colunm Name :  TX_GABARITO_MT
 null :  3597
Colunm Name :  Q027
 null :  7373
Colunm Name :  Q028
 null :  7376
Colunm Name :  Q029
 null :  7375
Colunm Name :  Q030
 null :  7375
Colunm Name :  Q031
 null :  7376
Colunm Name :  Q032
 null :  7376
Colunm Name :  Q033
 null :  7376
Colunm Name :  Q041
 null :  10792

In [44]:
train_data[(train_data.TP_ESTADO_CIVIL == 0)].NU_IDADE.mode()

0    17
dtype: int64

In [45]:
train_data[(train_data.TP_ESTADO_CIVIL.isna())].NU_IDADE.median()

24.0

In [46]:
train_data.TP_ESTADO_CIVIL = train_data.TP_ESTADO_CIVIL.fillna(20)

In [47]:
checkNulls()

Colunm Name :  TP_ENSINO
 null :  9448
Colunm Name :  CO_ESCOLA
 null :  9448
Colunm Name :  NO_MUNICIPIO_ESC
 null :  9448
Colunm Name :  SG_UF_ESC
 null :  9448
Colunm Name :  TP_DEPENDENCIA_ADM_ESC
 null :  9448
Colunm Name :  TP_LOCALIZACAO_ESC
 null :  9448
Colunm Name :  TP_SIT_FUNC_ESC
 null :  9448
Colunm Name :  NO_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  CO_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  SG_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  TX_RESPOSTAS_CN
 null :  3389
Colunm Name :  TX_RESPOSTAS_CH
 null :  3389
Colunm Name :  TX_RESPOSTAS_LC
 null :  3597
Colunm Name :  TX_RESPOSTAS_MT
 null :  3597
Colunm Name :  TX_GABARITO_CN
 null :  3389
Colunm Name :  TX_GABARITO_CH
 null :  3389
Colunm Name :  TX_GABARITO_LC
 null :  3597
Colunm Name :  TX_GABARITO_MT
 null :  3597
Colunm Name :  Q027
 null :  7373
Colunm Name :  Q028
 null :  7376
Colunm Name :  Q029
 null :  7375
Colunm Name :  Q030
 null :  7375
Colunm Name :  Q031
 null :  7376
Colunm Name :  Q032
 null :  7376
Colunm Name :  Q033
 null :  7376
Colunm Name :  Q041
 null :  10792

In [48]:
train_data.shape

(13730, 167)

In [49]:
train_data.TP_ENSINO = train_data.TP_ENSINO.fillna(1)

In [50]:
checkNulls()

Colunm Name :  CO_ESCOLA
 null :  9448
Colunm Name :  NO_MUNICIPIO_ESC
 null :  9448
Colunm Name :  SG_UF_ESC
 null :  9448
Colunm Name :  TP_DEPENDENCIA_ADM_ESC
 null :  9448
Colunm Name :  TP_LOCALIZACAO_ESC
 null :  9448
Colunm Name :  TP_SIT_FUNC_ESC
 null :  9448
Colunm Name :  NO_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  CO_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  SG_UF_ENTIDADE_CERTIFICACAO
 null :  12092
Colunm Name :  TX_RESPOSTAS_CN
 null :  3389
Colunm Name :  TX_RESPOSTAS_CH
 null :  3389
Colunm Name :  TX_RESPOSTAS_LC
 null :  3597
Colunm Name :  TX_RESPOSTAS_MT
 null :  3597
Colunm Name :  TX_GABARITO_CN
 null :  3389
Colunm Name :  TX_GABARITO_CH
 null :  3389
Colunm Name :  TX_GABARITO_LC
 null :  3597
Colunm Name :  TX_GABARITO_MT
 null :  3597
Colunm Name :  Q027
 null :  7373
Colunm Name :  Q028
 null :  7376
Colunm Name :  Q029
 null :  7375
Colunm Name :  Q030
 null :  7375
Colunm Name :  Q031
 null :  7376
Colunm Name :  Q032
 null :  7376
Colunm Name :  Q033
 null :  7376
Colunm Name :  Q041
 null :  10792

In [51]:
cols_remove = []
def colRemove():
    for (columnName, columnData) in train_data.iteritems():
        if(train_data[columnName].isna().sum() > 0): 
            cols_remove.append(columnName)

In [52]:
colRemove()

In [53]:
train_data = train_data.drop(cols_remove, axis=1)

In [54]:
train_data = train_data.drop(['SG_UF_RESIDENCIA', 'NO_MUNICIPIO_RESIDENCIA'], axis=1)

In [55]:
def letter_toNumber(letter):
    number = {'A':0, 'B':1, 'C':2, 'D':3, 'E':4, 'F':5, 'G':6, 'H':7, 'I':8, 'J':9, 'K':10, 'L':11, 'M':12, 'N':13,
               'O':14, 'P':15, 'Q':16}
    if letter in number :
        return number[letter]
    else:
        return letter

In [56]:
qcols = ['Q001','Q002','Q003','Q004','Q005','Q006','Q007','Q008','Q009','Q010','Q011','Q012','Q013','Q014','Q015','Q016','Q017',
'Q018','Q019','Q020','Q021','Q022','Q023','Q024','Q025','Q026','Q042','Q043','Q044','Q045','Q046','Q047','Q048','Q049','Q050']

In [57]:
for col in qcols:
    train_data[col] = train_data[col].map(lambda x : letter_toNumber(x))

In [58]:
train_data[qcols]

,Q001,Q002,Q003,Q004,Q005,Q006,Q007,Q008,Q009,Q010,...,Q026,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,3,3,1,1,3,2,0,1,1,1,...,2,0,0,0,0,0,0,0,1,3
1,0,0,0,0,5,1,0,1,1,0,...,0,0,0,2,0,1,0,0,2,0
2,3,3,1,1,4,2,0,1,2,0,...,0,0,0,0,0,2,0,0,1,0
3,7,4,3,1,4,4,0,2,2,2,...,2,2,0,0,0,0,3,0,0,0
4,4,3,2,2,4,2,0,1,2,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13725,4,4,1,1,4,6,0,1,2,1,...,1,0,0,0,0,0,0,0,0,0
13726,0,0,0,4,3,2,0,1,2,0,...,1,0,0,1,1,0,0,0,0,0
13727,2,6,1,3,3,1,0,1,2,1,...,0,0,0,0,0,2,0,0,0,0
13728,1,3,2,2,2,6,0,1,1,1,...,2,0,0,0,0,3,0,0,0,3
13729,4,3,5,2,6,5,0,2,3,1,...,0,0,0,0,0,1,0,0,0,0

In [59]:
colsObject = train_data.select_dtypes(['object']).columns
colsObject

Index(['NU_INSCRICAO', 'NO_MUNICIPIO_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'CO_PROVA_CN', 'CO_PROVA_CH',
       'CO_PROVA_LC', 'CO_PROVA_MT'],
      dtype='object')

In [60]:
train_data = train_data.drop(colsObject, axis=1)

In [61]:
train_data.select_dtypes(['object']).columns

Index([], dtype='object')

In [62]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13730 entries, 0 to 13729
Columns: 131 entries, Unnamed: 0 to Q050
dtypes: float64(17), int32(1), int64(113)
memory usage: 13.7 MB

In [63]:
from sklearn.model_selection import train_test_split

# Drop the target (label) column
X = train_data.drop('NU_NOTA_MT', axis=1)

# Take the labels (price) to train
Y = train_data['NU_NOTA_MT']

# Spliting into 80% for training set and 20% for testing set
X_train, x_test, Y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [64]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()
linear_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
linear_model.score(X_train, Y_train)

0.9165025056366974

In [66]:
predictors = X_train.columns
coef = pd.Series(linear_model.coef_, predictors).sort_values()

print(coef)

IN_DEFICIENCIA_MENTAL   -187.171165
IN_DISLEXIA             -165.278455
IN_MEDIDOR_GLICOSE      -134.008917
IN_LEDOR                -124.790686
IN_SALA_ESPECIAL        -123.826697
                            ...
IN_SEM_RECURSO            99.738952
TP_PRESENCA_MT           119.068965
TP_PRESENCA_LC           119.068965
IN_OUTRA_DEF             132.467626
IN_AMPLIADA_18           136.427786
Length: 130, dtype: float64

In [67]:
y_predict = linear_model.predict(x_test)

In [68]:
errorsLm = abs(y_predict - y_test)
errorsLm

3203       2.356303
10814    100.011695
1785      23.431850
7667       9.897164
9395     130.011429
            ...
10235     54.745614
10007      0.397073
633       33.209866
3020       1.280596
3894     158.436947
Name: NU_NOTA_MT, Length: 2746, dtype: float64

In [69]:
print('Mean Absolute Error:', round(np.mean(errorsLm), 2), 'degrees.')

Mean Absolute Error: 48.57 degrees.

In [70]:
r_square = linear_model.score(x_test, y_test)
r_square

0.9144109046947776

In [71]:
from sklearn.metrics import mean_squared_error

linear_model_mse = mean_squared_error(y_predict, y_test)
linear_model_mse

4488.14651583762

In [72]:
import math

math.sqrt(linear_model_mse)

66.99363041243265

In [73]:
test_data

,NU_INSCRICAO,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,PR,22,F,3,1,1,5,1,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,MA,26,F,3,1,1,8,1,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,CE,21,M,1,1,2,0,2,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,PA,27,F,3,1,1,8,1,...,NaN,NaN,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,PR,18,M,1,1,2,0,2,...,0.0,320.0,D,H,H,C,B,A,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b,41,PR,17,F,1,1,2,0,2,...,40.0,500.0,E,E,D,A,B,A,NaN,A
4572,a75fa8770257e7c9368d059fe53d9ef431f4bdef,35,SP,17,M,2,1,2,0,2,...,100.0,520.0,C,C,C,A,A,A,NaN,A
4573,655fa6306720ff16e825903b5422a46608a77545,35,SP,19,M,1,1,1,2,1,...,80.0,640.0,D,F,D,B,B,A,NaN,D
4574,1f4bc3e3d56212d500625bfe8ac78ccff4362293,52,GO,17,M,2,2,3,0,1,...,80.0,520.0,C,E,C,A,A,A,NaN,A
4575,adf0d15b54317b6564ef56dad2b775bbb0ef50cc,33,RJ,30,M,1,1,1,10,1,...,NaN,NaN,C,C,A,B,B,B,B,A

In [74]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 47 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NU_INSCRICAO            4576 non-null   object
 1   CO_UF_RESIDENCIA        4576 non-null   int64
 2   SG_UF_RESIDENCIA        4576 non-null   object
 3   NU_IDADE                4576 non-null   int64
 4   TP_SEXO                 4576 non-null   object
 5   TP_COR_RACA             4576 non-null   int64
 6   TP_NACIONALIDADE        4576 non-null   int64
 7   TP_ST_CONCLUSAO         4576 non-null   int64
 8   TP_ANO_CONCLUIU         4576 non-null   int64
 9   TP_ESCOLA               4576 non-null   int64
 10  TP_ENSINO               1480 non-null   float64
 11  IN_TREINEIRO            4576 non-null   int64
 12  TP_DEPENDENCIA_ADM_ESC  1480 non-null   float64
 13  IN_BAIXA_VISAO          4576 non-null   int64
 14  IN_CEGUEIRA             4576 non-null   int64
 15  IN_SURDEZ               4576 non-null   int64
 16  IN_DISLEXIA             4576 non-null   int64
 17  IN_DISCALCULIA          4576 non-null   int64
 18  IN_SABATISTA            4576 non-null   int64
 19  IN_GESTANTE             4576 non-null   int64
 20  IN_IDOSO                4576 non-null   int64
 21  TP_PRESENCA_CN          4576 non-null   int64
 22  TP_PRESENCA_CH          4576 non-null   int64
 23  TP_PRESENCA_LC          4576 non-null   int64
 24  CO_PROVA_CN             4576 non-null   object
 25  CO_PROVA_CH             4576 non-null   object
 26  CO_PROVA_LC             4576 non-null   object
 27  CO_PROVA_MT             4576 non-null   object
 28  NU_NOTA_CN              3442 non-null   float64
 29  NU_NOTA_CH              3442 non-null   float64
 30  NU_NOTA_LC              3377 non-null   float64
 31  TP_LINGUA               4576 non-null   int64
 32  TP_STATUS_REDACAO       3377 non-null   float64
 33  NU_NOTA_COMP1           3377 non-null   float64
 34  NU_NOTA_COMP2           3377 non-null   float64
 35  NU_NOTA_COMP3           3377 non-null   float64
 36  NU_NOTA_COMP4           3377 non-null   float64
 37  NU_NOTA_COMP5           3377 non-null   float64
 38  NU_NOTA_REDACAO         3377 non-null   float64
 39  Q001                    4576 non-null   object
 40  Q002                    4576 non-null   object
 41  Q006                    4576 non-null   object
 42  Q024                    4576 non-null   object
 43  Q025                    4576 non-null   object
 44  Q026                    4576 non-null   object
 45  Q027                    2088 non-null   object
 46  Q047                    4576 non-null   object
dtypes: float64(12), int64(20), object(15)
memory usage: 1.6+ MB

In [75]:
test_data = test_data.drop(['TP_ENSINO','SG_UF_RESIDENCIA'], axis=1)

In [76]:
test_data.NU_NOTA_CN = test_data.NU_NOTA_CN.fillna(0)
test_data.NU_NOTA_CH = test_data.NU_NOTA_CH.fillna(0)
test_data.NU_NOTA_LC = test_data.NU_NOTA_LC.fillna(0)
test_data.TP_STATUS_REDACAO = test_data.TP_STATUS_REDACAO.fillna(4)
test_data.NU_NOTA_COMP1 = test_data.NU_NOTA_COMP1.fillna(0) 
test_data.NU_NOTA_COMP2 = test_data.NU_NOTA_COMP2.fillna(0) 
test_data.NU_NOTA_COMP3 = test_data.NU_NOTA_COMP3.fillna(0) 
test_data.NU_NOTA_COMP4 = test_data.NU_NOTA_COMP4.fillna(0) 
test_data.NU_NOTA_COMP5 = test_data.NU_NOTA_COMP5.fillna(0)
test_data.NU_NOTA_REDACAO = test_data.NU_NOTA_REDACAO.fillna(0)

In [77]:
test_data['TP_SEXO'] = np.where(test_data['TP_SEXO'] == 'F', 0, 1)

In [78]:
test_data

,NU_INSCRICAO,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,73ff9fcc02f0a99919906c942c2e1a1042cdcf98,41,22,0,3,1,1,5,1,0,...,40.0,420.0,B,A,C,A,A,C,C,A
1,71a95f9f1b91a82c65ad94abbdf9f54e6066f968,21,26,0,3,1,1,8,1,0,...,100.0,580.0,E,B,C,B,B,B,F,A
2,b38a03232f43b11c9d0788abaf060f7366053b6d,23,21,1,1,1,2,0,2,0,...,80.0,320.0,E,E,D,B,B,A,NaN,A
3,70b682d9a3636be23f6120fa9d6b164eb3c6002d,15,27,0,3,1,1,8,1,0,...,0.0,0.0,H,E,G,B,B,A,NaN,A
4,715494628a50142ce8cb17191cfe6d0f3cae0934,41,18,1,1,1,2,0,2,0,...,0.0,320.0,D,H,H,C,B,A,NaN,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b,41,17,0,1,1,2,0,2,0,...,40.0,500.0,E,E,D,A,B,A,NaN,A
4572,a75fa8770257e7c9368d059fe53d9ef431f4bdef,35,17,1,2,1,2,0,2,0,...,100.0,520.0,C,C,C,A,A,A,NaN,A
4573,655fa6306720ff16e825903b5422a46608a77545,35,19,1,1,1,1,2,1,0,...,80.0,640.0,D,F,D,B,B,A,NaN,D
4574,1f4bc3e3d56212d500625bfe8ac78ccff4362293,52,17,1,2,2,3,0,1,1,...,80.0,520.0,C,E,C,A,A,A,NaN,A
4575,adf0d15b54317b6564ef56dad2b775bbb0ef50cc,33,30,1,1,1,1,10,1,0,...,0.0,0.0,C,C,A,B,B,B,B,A

In [79]:
qcols = ['Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026', 'Q047']

In [80]:
for col in qcols:
    test_data[col] = test_data[col].map(lambda x : letter_toNumber(x))

In [81]:
teste_x = test_data.drop('NU_INSCRICAO', axis=1)

In [82]:
teste_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CO_UF_RESIDENCIA        4576 non-null   int64
 1   NU_IDADE                4576 non-null   int64
 2   TP_SEXO                 4576 non-null   int32
 3   TP_COR_RACA             4576 non-null   int64
 4   TP_NACIONALIDADE        4576 non-null   int64
 5   TP_ST_CONCLUSAO         4576 non-null   int64
 6   TP_ANO_CONCLUIU         4576 non-null   int64
 7   TP_ESCOLA               4576 non-null   int64
 8   IN_TREINEIRO            4576 non-null   int64
 9   TP_DEPENDENCIA_ADM_ESC  1480 non-null   float64
 10  IN_BAIXA_VISAO          4576 non-null   int64
 11  IN_CEGUEIRA             4576 non-null   int64
 12  IN_SURDEZ               4576 non-null   int64
 13  IN_DISLEXIA             4576 non-null   int64
 14  IN_DISCALCULIA          4576 non-null   int64
 15  IN_SABATISTA            4576 non-null   int64
 16  IN_GESTANTE             4576 non-null   int64
 17  IN_IDOSO                4576 non-null   int64
 18  TP_PRESENCA_CN          4576 non-null   int64
 19  TP_PRESENCA_CH          4576 non-null   int64
 20  TP_PRESENCA_LC          4576 non-null   int64
 21  CO_PROVA_CN             4576 non-null   object
 22  CO_PROVA_CH             4576 non-null   object
 23  CO_PROVA_LC             4576 non-null   object
 24  CO_PROVA_MT             4576 non-null   object
 25  NU_NOTA_CN              4576 non-null   float64
 26  NU_NOTA_CH              4576 non-null   float64
 27  NU_NOTA_LC              4576 non-null   float64
 28  TP_LINGUA               4576 non-null   int64
 29  TP_STATUS_REDACAO       4576 non-null   float64
 30  NU_NOTA_COMP1           4576 non-null   float64
 31  NU_NOTA_COMP2           4576 non-null   float64
 32  NU_NOTA_COMP3           4576 non-null   float64
 33  NU_NOTA_COMP4           4576 non-null   float64
 34  NU_NOTA_COMP5           4576 non-null   float64
 35  NU_NOTA_REDACAO         4576 non-null   float64
 36  Q001                    4576 non-null   int64
 37  Q002                    4576 non-null   int64
 38  Q006                    4576 non-null   int64
 39  Q024                    4576 non-null   int64
 40  Q025                    4576 non-null   int64
 41  Q026                    4576 non-null   int64
 42  Q027                    2088 non-null   object
 43  Q047                    4576 non-null   int64
dtypes: float64(11), int32(1), int64(27), object(5)
memory usage: 1.5+ MB

In [83]:
teste_x = teste_x.drop(['CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC', 'CO_PROVA_MT'], axis=1)
teste_x

,CO_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,IN_TREINEIRO,TP_DEPENDENCIA_ADM_ESC,...,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q001,Q002,Q006,Q024,Q025,Q026,Q027,Q047
0,41,22,0,3,1,1,5,1,0,NaN,...,40.0,420.0,1,0,2,0,0,2,C,0
1,21,26,0,3,1,1,8,1,0,NaN,...,100.0,580.0,4,1,2,1,1,1,F,0
2,23,21,1,1,1,2,0,2,0,2.0,...,80.0,320.0,4,4,3,1,1,0,NaN,0
3,15,27,0,3,1,1,8,1,0,NaN,...,0.0,0.0,7,4,6,1,1,0,NaN,0
4,41,18,1,1,1,2,0,2,0,2.0,...,0.0,320.0,3,7,7,2,1,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4571,41,17,0,1,1,2,0,2,0,2.0,...,40.0,500.0,4,4,3,0,1,0,NaN,0
4572,35,17,1,2,1,2,0,2,0,2.0,...,100.0,520.0,2,2,2,0,0,0,NaN,0
4573,35,19,1,1,1,1,2,1,0,NaN,...,80.0,640.0,3,5,3,1,1,0,NaN,3
4574,52,17,1,2,2,3,0,1,1,NaN,...,80.0,520.0,2,4,2,0,0,0,NaN,0
4575,33,30,1,1,1,1,10,1,0,NaN,...,0.0,0.0,2,2,0,1,1,1,B,0

In [84]:
teste_x = teste_x.drop(['TP_DEPENDENCIA_ADM_ESC', 'Q027'], axis=1)

In [85]:
teste_cols = teste_x.columns.values
a = numpy.array(['NU_NOTA_MT'])
teste_cols = numpy.append( teste_cols , a )
teste_cols

array(['CO_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU',
       'TP_ESCOLA', 'IN_TREINEIRO', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA',
       'IN_SURDEZ', 'IN_DISLEXIA', 'IN_DISCALCULIA', 'IN_SABATISTA',
       'IN_GESTANTE', 'IN_IDOSO', 'TP_PRESENCA_CN', 'TP_PRESENCA_CH',
       'TP_PRESENCA_LC', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'TP_LINGUA', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1', 'NU_NOTA_COMP2',
       'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q006', 'Q024', 'Q025', 'Q026',
       'Q047', 'NU_NOTA_MT'], dtype=object)

In [86]:
train_data_norm = train_data[teste_cols]

In [87]:
train_data_norm.shape

(13730, 39)

In [112]:
teste_x.shape

(4576, 38)

In [118]:
X = train_data_norm.drop('NU_NOTA_MT', axis=1)

# Take the labels (price) to train
Y = train_data_norm['NU_NOTA_MT']

# Spliting into 80% for training set and 20% for testing set
X_train, x_test, Y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

linear_model = LinearRegression()
linear_model.fit(X_train, Y_train)

linear_model.score(X_train, Y_train)

y_predict = linear_model.predict(x_test)

r_square = linear_model.score(x_test, y_test)
r_square

0.9140825648649977

In [90]:
predictions = linear_model.predict(teste_x)

In [91]:
test_data.shape

(4576, 45)

In [92]:
roudPredictions = np.around(predictions, decimals=4)

In [93]:
roudPredictions

array([421.6154, 448.7727, 572.45  , ..., 619.5369, 477.1447,   6.2255])

In [94]:
df_answer = pd.DataFrame({'NU_INSCRICAO': test_data.NU_INSCRICAO, 'NU_NOTA_MT':roudPredictions})

In [95]:
df_answer

                                  NU_INSCRICAO  NU_NOTA_MT
0     73ff9fcc02f0a99919906c942c2e1a1042cdcf98    421.6154
1     71a95f9f1b91a82c65ad94abbdf9f54e6066f968    448.7727
2     b38a03232f43b11c9d0788abaf060f7366053b6d    572.4500
3     70b682d9a3636be23f6120fa9d6b164eb3c6002d      3.6457
4     715494628a50142ce8cb17191cfe6d0f3cae0934    562.7786
...                                        ...         ...
4571  dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b    439.1352
4572  a75fa8770257e7c9368d059fe53d9ef431f4bdef    455.2141
4573  655fa6306720ff16e825903b5422a46608a77545    619.5369
4574  1f4bc3e3d56212d500625bfe8ac78ccff4362293    477.1447
4575  adf0d15b54317b6564ef56dad2b775bbb0ef50cc      6.2255

[4576 rows x 2 columns]

In [96]:
df_answer.set_index('NU_INSCRICAO')

                                          NU_NOTA_MT
NU_INSCRICAO
73ff9fcc02f0a99919906c942c2e1a1042cdcf98    421.6154
71a95f9f1b91a82c65ad94abbdf9f54e6066f968    448.7727
b38a03232f43b11c9d0788abaf060f7366053b6d    572.4500
70b682d9a3636be23f6120fa9d6b164eb3c6002d      3.6457
715494628a50142ce8cb17191cfe6d0f3cae0934    562.7786
...                                              ...
dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b    439.1352
a75fa8770257e7c9368d059fe53d9ef431f4bdef    455.2141
655fa6306720ff16e825903b5422a46608a77545    619.5369
1f4bc3e3d56212d500625bfe8ac78ccff4362293    477.1447
adf0d15b54317b6564ef56dad2b775bbb0ef50cc      6.2255

[4576 rows x 1 columns]

In [97]:
df_answer.to_csv('answer.csv',index=False)

In [99]:
predictions.shape

(4576,)

In [107]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [157]:
X_train, x_test, Y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [159]:
X_list = list(X.columns)

In [161]:
X_list

['CO_UF_RESIDENCIA',
 'NU_IDADE',
 'TP_SEXO',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ESCOLA',
 'IN_TREINEIRO',
 'IN_BAIXA_VISAO',
 'IN_CEGUEIRA',
 'IN_SURDEZ',
 'IN_DISLEXIA',
 'IN_DISCALCULIA',
 'IN_SABATISTA',
 'IN_GESTANTE',
 'IN_IDOSO',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'TP_LINGUA',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO',
 'Q001',
 'Q002',
 'Q006',
 'Q024',
 'Q025',
 'Q026',
 'Q047']

In [160]:
# The baseline predictions are the historical averages
baseline_preds = Y_train[:, X_list.index('TP_SEXO')]
# Baseline errors, and display average baseline error
baseline_errors = abs(baseline_preds - y_test)

ValueError: Can only tuple-index with a MultiIndex

In [145]:
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 100, random_state = 42)
# Train the model on training data
rf.fit(X_train, Y_train);

In [146]:
X_train.shape

(10984, 38)

In [147]:

Y_train= np.array(Y_train).reshape(-1, 1)
Y_train.shape

(10984, 1)

In [148]:
# Use the forest's predict method on the test data
predictions = rf.predict(Y_train)

ValueError: Number of features of the model must match the input. Model n_features is 38 and input n_features is 1

In [140]:
predictions.shape

(4576,)

In [141]:
y_test.shape

(2746,)

In [142]:
# Calculate the absolute errors
errors = abs(predictions - teste_x)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

ValueError: Unable to coerce to Series, length must be 38: given 4576