In [1]:
import pandas as pd
import numpy as np

In [2]:
toy_df = pd.DataFrame({'numbers' : [1, 2, 4, np.nan, np.nan, np.nan, 7]})
toy_df

   numbers
0      1.0
1      2.0
2      4.0
3      NaN
4      NaN
5      NaN
6      7.0

In [3]:
toy_df.isnull().sum()

numbers    3
dtype: int64

In [4]:
dropped_toy_df = toy_df.dropna()
dropped_toy_df

   numbers
0      1.0
1      2.0
2      4.0
6      7.0

In [5]:
filledna = toy_df.fillna(0)
filledna

   numbers
0      1.0
1      2.0
2      4.0
3      0.0
4      0.0
5      0.0
6      7.0

In [6]:
# fill null values with the next non null value in dataframe
backfilled = toy_df.fillna(method='bfill')
backfilled

   numbers
0      1.0
1      2.0
2      4.0
3      7.0
4      7.0
5      7.0
6      7.0

In [7]:
# fill null values with mean
meanfill = toy_df.fillna(toy_df.numbers.mean())
meanfill

   numbers
0      1.0
1      2.0
2      4.0
3      3.5
4      3.5
5      3.5
6      7.0

In [9]:
# interpolate estimate values that shoul go in the missing fields
interpolated = toy_df.interpolate()
interpolated

   numbers
0     1.00
1     2.00
2     4.00
3     4.75
4     5.50
5     6.25
6     7.00